@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
  display: flex;
  background-color: #343a40;
  height: 75px;
  align-items: center;
  justify-content: space-around;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.logo img {
  width: 80px;
}
.logo h2 {
  color: white;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
}
.search_bar {
  display: flex;
}
.search_bar input {
  width: 500px;
  height: 40px;
  padding: 10px;
  outline: none;
  border-radius: 5px;
  font-size: 17px;
}

.cart_icon {
  display: flex;
  align-items: center;
  gap: 3px;
  justify-content: space-evenly;
  width: 90px;
  border-radius: 5px;
  height: 45px;
  background-color: #28a745;
  color: white;
}
.cart_box {
  display: flex;
  justify-content: center;
  gap: 3px;
  align-items: center;
}
.cart_img {
  color: white;
  font-size: 25px;
}
.drop_icon {
  font-size: 25px;
  cursor: pointer;
}
.dropdown_menu {
  display: flex;
  width: 350px;
  height: 40px;
  border-radius: 3px;
  background-color: white;
  border: 1px solid #5f6061;
  position: absolute;
  right: 7.8%;
  top: 1px;
  padding: 7px;
  box-shadow: 2px 2px 2px 2px rgb(200, 200, 200);
}
.cart_dropdown {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
}
.main_section {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  border: 2px solid red;
}
.shopping_cart {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.cart_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(240, 245, 246);
  margin-top: 1.5rem;
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgb(159, 157, 157);
  padding: 2rem 4rem;
}
.cart_items {
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  height: 325px;
  /* overflow-y: scroll; */
}
.cart_info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}
.product_name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3px;
}
.product_name span {
  color: grey;
}
.increment_container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.increment_container input {
  width: 30px;
}
